* {
  margin: 0;
  padding: 0;
}

html, body, .contianer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container .container-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.container .container-modal .modal-over {
  width: 66.27vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -195%);
}

.container .container-modal .modal-box {
  width: 78.27vw;
  height: 42vw;
  background: url(../images/tips-box.png) no-repeat center/100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -22%);
  color: white;
  font-size: 6.5vw;
}

.container .container-modal .modal-box .modal-rank {
  position: absolute;
  left: 16vw;
  top: 17.5vw;
}

.container .container-modal .modal-box .modal-score {
  position: absolute;
  right: 13vw;
  top: 11vw;
}
